beautifulsoup4==4.12.3
requests==2.31.0
jupyter==1.0.0
Pympler==1.1
tiptop==0.2.8

ipython==8.21.0
tqdm==4.66.5
easydict==1.12
PyQt5==5.15.10
omegaconf==2.3.0
selenium==4.25.0
feedparser==6.0.11
webdriver-manager==4.0.2
